body {
	font-family: sans-serif;
	padding: 25px;
}

input {
	margin-bottom: 25px;
}

table > {
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #ddd;
	text-align:left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #ccc;
}